# dependencies
node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js
.next/
out/
build/

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# IDE / local
.cursor/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env (mantener .env.example en el repo)
.env*
!.env.example
.env.local
.env.production.local

# vercel
.vercel

# testing
/coverage
